<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    Home
  </title>
</head>
<body>
<div id="wrapper">
  <header id="header">
  Place for header
  </header>
  <aside id="leftsidebar">
    <nav id="nav">
      <ul>
        <li>Today</li>
        <li>Future</li>
        <li>Past</li>
      </ul>
    </nav>
  </aside>
  <section id="main">

    <h1> Welcome </h1>
This is place fot the text...




<p>
  Page last updated: Fri 28 March 2023
</p>


  </section>
  <footer id="footer">Copyright &copy; 2023 No Web
    Design
  </footer>
</div>
</body>
</html>